
 <button disabled="disabled"><a href="/">regresar</a></button>

 <ul class="list-group">
  {{#each images}}
    <a href="/imagenes/{{id}}" class="list-group-item">{{descripcion}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/imagenes/new">
  nueva imagen
</a>
