


<script >
       
        var usuario = localStorage.getItem("usuarioLog");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/login"
             //window.location="/user/login"
        }
        
      
    
</script>

<ul class="list-group">
  {{#each images}}
    <a href="/imagenes/{{id}}" class="list-group-item">{{descripcion}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/imagenes/new">
  nueva imagen
</a>
