<div class="text-center row">
    <img src="images/letrero.png" class="rounded letrero" alt="...">
</div>
<table class="container">
          <!--
           <tr id="caca2">
            <td><a href=""><img class="rounded-circle" src="images/daniel.png" alt="champ"></a></td>
            <td><img class="rounded-circle" src="images/josty.png" alt="gossy"></td>
            <td><img class="rounded-circle" src="images/joss.png" alt="romp"></td>
            <td><img class="rounded-circle" src="images/malats.png" alt="massap"></td>
        </tr>
        
        -->
        {{#each users}}
            <td id="tabla"><p class="p" style="position:absolute; color: blue; font-size: 20px;"> tiene {{puntaje}} puntos</p> <a href="seleccionrompecabeza" onclick="guardarUser({{id}})" id="avatar"><img class="rounded-circle" id="imgen" src="{{urlimagen}}" ></a> </td>
            
        {{/each}}  
    </table>
    
    <div class="row d-flex justify-content-center pie">
            <a href="login">Ir a Administración</a>
    </div>
  
<style>
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    [id="tabla"] {
        margin-left:40%;
        display:inline-block;
        width:100%;
        position:relative;
        
    }
   
}
</style>
<script>
    localStorage.clear();
    function guardarUser(variable){
        localStorage.setItem("usuario", variable);
    }
</script>
