<head>
    <meta charset="utf-8">
    <title>Rompecabezas</title>
    <meta name="description" content="A jQuery plugin for turning an image into a jigsaw puzzle game.">
    <link rel="shortcut icon" href="//pixabay.com/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>

<div class="text-center row">
    <img class="seleccion" src="images/seleccion.png" class="rounded letrero" alt="...">
</div>

<div class="container">
    <a href="/"><img class="botones" src="../images/atras.png" alt="atras"></a>
    <div class="col-lg-12" id="pile">
        {{#each images}}  
        <td> <a href="#"><img class="imagenesr" width="30%" onclick="demo({{id}})" src="{{url}}" ></a></td>
        {{/each}} 
    </div>

    <div class="form-group">
        <input type="text" class="form-control hidden" placeholder="Enter a todo" id="seleccion" name="seleccion">
    </div>
    <div><img class="botones" src="images/puntos.png" alt="..."></div><div id="puntaje"></div>

    <!--<div class="row">
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="2">2x2</a>
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="3">3x3</a>
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="4">4x4</a>
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="5">5x5</a>
    </div>-->

</div> 

<!--  <button disabled="disabled"><a href="/">regresar</a></button>  -->


<script>
    function demo(id){
        document.getElementById("seleccion").value = id;
        selJuego();
    }

    function selJuego(){

        let sel = document.getElementById("seleccion").value;
        console.log($('#seleccion').val());
        localStorage.setItem("juego", sel);

        let url = window.origin;

        $.getJSON( url+"/seleccionrompecabeza/piezas/"+localStorage.getItem("juego"), function( data ) {

            alert(data.image.piezas)

            localStorage.setItem("piezas", data.image.piezas);
            
            if (localStorage.getItem("piezas") == data.image.piezas){
            
            
                let intentos = 0;
                localStorage.setItem("intentos", intentos);


                $.getJSON( url+ "/juego/" + sel, function( data ) {
                    console.log(data)
                });


                window.location.href = 'juego/'+sel;
            
            }

        });


            
    }


</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/js/jquery.snap-puzzle.js"></script>
    <script src="/js/app.js"></script>

    <script>

    let url = window.origin;

        $.getJSON( url+"/seleccionrompecabeza/puntos/"+localStorage.getItem("usuario"), function( data ) {

            console.log(data)

            $("#puntaje").html("<h1>"+data.user.puntaje+"</h1>");


            
        });

    </script>
