<button disabled="disabled"><a href="/roles">regresar</a></button>

<form class="form" action="/roles/{{id}}?_method=PUT" method="post">
 <div class="form-group">
    <label for="description">Descripcion</label>
    <input value="{{descripcion}}" type="text" class="form-control" id="title" placeholder="Enter a todo" name="descripcion">   
  </div>
  
  
  <button type="submit" class="btn btn-default btn-danger">
    Actualizar
  </button>