


<script >
       
        var usuario = localStorage.getItem("usuarioLog");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/login"
             //window.location="/user/login"
        }
        
      
    
</script>

<form class="form" action="/roles" method="post">

 <div class="form-group">
    <label for="description">Descripcion</label>
    <input type="text" class="form-control" id="descripcion" placeholder="Descripción" name="descripcion">
  </div>
  
  <button type="submit" class="btn btn-default btn-success">
    Crear
  </button>
</form>