
 <button disabled="disabled"><a href="/">regresar</a></button>

 <ul class="list-group">
  {{#each audios}}
    <a href="/audios/{{id}}" class="list-group-item">{{descripcion}}</a>
  {{/each}}
</ul>
